<html>
	<head>
		<meta charset="utf-8" />
		<title>GTLive unofficial schedule!</title>
	</head>
	<body>
		<p>Oops, I might have broken the site badly! Don't worry, it'll come back up soon!</p>
		<p>In the meantime, the next stream is scheduled&nbsp;:</p>
		<p style="font-size: 120%;">March 1st, 4:00PM PST</p>
		<p>(the "timezone" thingy will come back soon!)</p>
        <hr />
        <p>UPDATE (stardate 128.9)&nbsp;: hurried the deployment of my "in-progress" website that use a different tech under the hood. Now running Django/Python. After a few tests, basic functionalities will come back (but look different since I accidentally scrapped all assets :\)</p>
	</body>
</html>
