{% extends "streams/base.html" %}

{% block streams_content %}
<h1>Previous streams list</h1>
{% include "parts/pagination.html" %}
<div class="arrayrows">
    {% for stream in object_list %}
        {% if forloop.first %}
        <div class="row tableHeader">
            <div class="col-md-3">
                Local time
            </div>
            <div class="col-md-4">
                Title
            </div>
            <div class="col-md-3">
                Game
            </div>
            <div class="col-md-2">
                Direct links
            </div>
        </div>
        {% endif %}
        <div class="row streamRow">
            <div class="col-md-3 localtime" title="{{ stream.scheduled_date }}" data-aired="{{ stream.scheduled_date|date:"c" }}">loading…</div>
            <div class="col-md-4 title"><a href="{{ stream.get_absolute_url }}">{{ stream.display_title }}</a></div>
            <div class="col-md-3 game">
                {% if stream.games.all.count > 1 %}
                    {% for game in stream.games.all %}
                        {% if forloop.counter0 != 0 %}
                        &nbsp;|&nbsp;
                        {% endif %}
                        {{ game }}
                    {% endfor %}
                {% else %}
                    {{ stream.games.all.0 }}
                {% endif %}
            </div>
            <div class="col-md-2 links">
                {% if stream.live_video %}
                    {% include 'streams/parts/yt_link.html' with link=stream.live_video textonly="Live" %}
                {% endif %}
                {% if stream.archive_videos.all.count > 0 %}
                    {% for archive_link in stream.archive_videos.all %}
                        {% if forloop.counter0 == 0 %}
                            {% if stream.live_video %}
                                &nbsp;|&nbsp;
                            {% endif %}
                        {% else %}
                            &nbsp;|&nbsp;
                        {% endif %}
                        {% include 'streams/parts/yt_link.html' with link=archive_link textonly="Archive" %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
{% include "parts/pagination.html" %}
{% endblock %}
